*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/cpp_ver/.idea
.DS_Store
/build
/app/build
/cpp_ver/build
/cpp_ver/.vscode
/captures
.externalNativeBuild
.cxx
local.properties
